# Configurações da aplicação
NODE_ENV=development
PORT=3000

# Configurações do MongoDB
MONGODB_URI=mongodb://admin:password@mongodb:27017/desafio_inmeta?authSource=admin

# Configurações de segurança
JWT_SECRET=your-secret-key-here
JWT_EXPIRES_IN=24h

# Rate limiting
RATE_LIMIT_TTL=60
RATE_LIMIT_LIMIT=100
